################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
*.exe
/Consortium.Core/bin
/Consortium.Core/obj
/Consortium.Democracy/bin
/Consortium.Democracy/obj
/Consortium.General/bin
/Consortium.General/obj